body 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: verdana; 
    font-size: 23px;
    color: #ffffff;
    
}			
.button {
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    color: rgb(5, 5, 5);
    padding: 10px 42px;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: #030303;
    color: rgb(255, 255, 255);

}
.contenedor {
    padding-top: .5rem;
    width: 100%;
    height: auto;   
    background-image: url(fondo.png);
}

span {
    text-align: 4rem;
} 



